<% if @category == "JapaneseFood" %>
<!--和食ページの部分テンプレート-->
  <%= render 'posts/japanesefood', posts: @posts %>

<% elsif @category == "WesternCuisine" %>
<!--洋食料理の部分テンプレート-->
  <%= render 'posts/WesternCuisine', posts: @posts %>

<% elsif @category == "ChineseFood" %>
<!--中華料理の部分テンプレート-->
  <%= render 'posts/chinese', posts: @posts %>

<% elsif @category == "AsianFood" %>

  <%= render 'posts/asianFood', posts: @posts %>
  
<% elsif @category == "Curry" %>
  <h1>Curry</h1>
<% elsif @category == "Meat" %>
  <h1>Meat</h1>
<% elsif @category == "Drink" %>
  <h1>Drinl</h1>
<% elsif @category == "Cafe" %>
  <h1>cafe</h1>
<% elsif @category == "Sweets" %>
  <h1>sweets</h1>
<% elsif @category == "Noodles" %>
  <h1>Noodles</h1>
<% elsif @category == "Bar" %>
  <h1>Bar</h1>
<% elsif @category == "Buffet" %>
  <h1>Buff</h1>
<% elsif @category == "Family" %>
  <h1>family</h1>
<% elsif @category == "Restaurant" %>
  <h1>REstaurant</h1>

<% end %>